/* Basic CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#fff8e7;
    padding: 1rem;
}

.screen.active{
    display: block;
}

.screen.inactive{
    display: none;
}

.container{
    max-width:500px;
    width: 100%;;
    background-color: white;
    border:2px solid rgba(255, 106, 0, 0.896);
    border-radius: 10px;
    padding:2rem;
    position: relative;
}
.header{
    color:#ff6a00e4;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 32px;
    font-weight: 700;
}

.screen{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.btn{
    background-color: #ff6a00e4;
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 11px;
    border:1px solid white;
}

.start-btn:hover{
    background-color: #ed6808;
    cursor: pointer;
    transition: all 0.3s ease;;
}

.question-container{
    font-size: 24px;
    margin-bottom: 1rem;
}

.quiz-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.answer-btn{
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #ff6a00e4;
    background-color: blanchedalmond;
    text-align: left;
}

.answer-btn:hover{
    background-color: rgb(248, 213, 157);
    cursor: pointer;
    transition: all 0.4s ease;
}

.progress-bar{
    margin-top: 1rem;
    border-radius: 10px;
    overflow: hidden;
    height: 15px;
    background-color: #f8f0e5;
}

.progress{
    height:100%;
    width:0%;
    background-color: #ff6a00e4;
    transition: width 0.3s ease;
}

.result-info{
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

#results-comment{
    margin-top: 10px;
    color: #ff6a00e4;
    font-weight: 600;
    font-size: 24px;
    text-align: center;

}